@keyframes wobble-hor-bottom {
  0%,
  to {
    transform: translateX(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
body {
  margin: 0;
  line-height: normal;
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.hover-me-div,
.linked-layers-div {
  position: absolute;
  top: 54px;
  left: 58px;
  display: inline-block;
}
.hover-me-div {
  top: 20px;
  left: 20px;
}
.frame-div35 {
  position: absolute;
  top: 119px;
  left: 60px;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 177px;
  height: 68px;
}
.frame-div35:hover {
  width: 400px;
  height: 50%;
  transform: rotate(-25deg);
  border-radius: 30px;
  min-width: 150px;
  max-width: 700px;
  min-height: 1rem;
  max-height: 200px;
}
.frame-div35:hover .hover-me-div {
  font-weight: 800;
  font-family: Roboto Slab;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 60px;
  text-align: right;
  color: #2d12d8;
  text-shadow: 4px 4px 4px 4px #18f4be;
  animation: 1s ease 0s infinite normal none wobble-hor-bottom;
  opacity: 1;
}
.frame-div35:active {
  width: 30px;
  height: 30px;
}
.show-on-hover {
  position: absolute;
  top: 20px;
  left: 167px;
  display: none;
}
.show-on-normal,
.show-on-pressed {
  position: absolute;
  top: 52px;
  left: 88px;
  display: none;
}
.show-on-normal {
  top: 17px;
  left: 36px;
  display: inline-block;
}
.frame-div36,
.frame-div37 {
  position: absolute;
  top: 119px;
  left: 408px;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 280px;
  height: 76px;
  overflow: hidden;
  font-size: 12px;
}
.frame-div36:hover .show-on-hover {
  display: flex;
}
.frame-div36:active .show-on-normal,
.frame-div36:hover .show-on-normal {
  display: none;
}
.frame-div36:active .show-on-pressed {
  display: flex;
}
.frame-div37 {
  top: 403px;
}
.frame-div37:hover .show-on-normal {
  display: none;
}
.frame-div37:active .show-on-pressed,
.frame-div37:hover .show-on-hover {
  display: flex;
}
.br-linked-layers {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: Roboto;
}
